/* COLORS */

// NEUTRAL
$neutral-00: #ffffff;
$neutral-100: #f8f8f8;
$neutral-200: #eeeeee;
$neutral-300: #e8e8e8;
$neutral-400: #d1d1d1;
$neutral-500: #cecece;
$neutral-600: #b1b1b1;
$neutral-700: #121212;
$neutral-800: #000000;

// PRIMARY
$primary-500: #5863f8;

// SHADES
