@use '../variables/variables.fontweight' as fw;
@use '../variables/variables.colors' as color;

.c-header {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/img/headerBG.png);
	height: 86vh;

	&__text {
		p {
			color: color.$neutral-00;
		}
	}
}
