@use '../variables/variables.fontweight' as fw;
@use '../variables/variables.colors' as color;

.c-contact {
	margin-bottom: 102px;

	&__heading {
		margin-bottom: 50px;
	}

	&__form {
		margin-bottom: 50px;

		textarea {
			resize: none;

			width: 100%;
			height: 407px;

			color: color.$neutral-500;
			background-color: color.$neutral-100;

			border: 2px solid color.$neutral-300;
			border-radius: 0;

			padding-top: 17px;
			padding-left: 20px;

			&:focus {
				border: 2px solid color.$neutral-300 !important;
			}
		}

		input {
			width: 100%;
			height: 60px;

			color: color.$neutral-500;
			background-color: color.$neutral-100;

			border: 2px solid color.$neutral-300;
			border-radius: 0;

			padding: 17px 20px;

			margin-bottom: 1rem;

			&:focus {
				border: 2px solid color.$neutral-300 !important;
			}
		}

		[type='checkbox'] {
			width: 24px;
			height: 24px;

			background-color: color.$neutral-100;

			border: 2px solid color.$neutral-300;

			&:checked {
				color: color.$primary-500;

				background-color: color.$neutral-300;
			}
		}

		button {
			width: 100%;
			height: 60px;
		}
	}

	&__checktext {
		font-size: 13px;
		width: fit-content;

		color: color.$neutral-500;
	}

	&__item {
		text-align: center;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		> p {
			font-size: 1.125rem;
			line-height: 1.6875rem;

			font-weight: fw.$semiBold;

			margin-bottom: 10px;

			&:nth-child(3) {
				font-weight: fw.$medium;

				color: color.$neutral-600;

				margin-bottom: 0;
			}
		}
	}

	&__icon {
		width: 60px;
		height: 60px;

		background-color: color.$primary-500;
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: center;

		margin-bottom: 1rem;
	}
}
