@use '../variables/variables.fontweight' as fw;
@use '../variables/variables.colors' as color;

.c-search {
	position: relative;
	bottom: 125px;
	margin-bottom: -125px;

	&__arrow {
		width: 51px;
		height: 51px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;

		&--left {
			@extend .c-search__arrow;

			background-color: color.$neutral-00;
		}

		&--right {
			@extend .c-search__arrow;

			background-color: color.$primary-500;
		}
	}

	&__search {
		height: 148px;
		background-color: color.$neutral-00;

		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		align-content: center;
	}

	&__form {
		& label {
			color: color.$primary-500;
			font-weight: fw.$medium;
			display: flex;
			flex-direction: column;

			& input {
				height: 50px;
				width: 250px;
				border: none;
				background-color: color.$neutral-100;

				&::placeholder {
					padding-left: 1rem;
					color: color.$neutral-200;
				}
			}
		}
	}

	&__btn {
		border: none;
		width: 51px;
		height: 51px;
		background-color: color.$primary-500;
	}
}
